<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'public/accounts/index', accounts: @records %>
<% elsif @model == 'review' || @model == 'tag' %>
	<h3>Reviews search for "<%= @content %>"</h3>
  <%= render 'public/reviews/index', reviews: @records %>
<% end %>

