<div class="container-fluid">
  <div class="row">
    <div class="col-md-10" style="padding-top: 1rem; padding-left: 5rem;">
      <p><%= image_tag 'taproom.jpg', :size =>'1500x1100' %></p>
    </div>
  </div>
</div>