<div>
  <h1>本当に退会しますか？</h1>
  <p>
    退会すると、<br>
    これまでに作成したレビューや、<br>
    いいね、フォローの記録を、<br>
    閲覧できなくなります。<br>
  </p>
</div>

<div>
  <%= link_to "退会しない", :back, class: "btn btn-secondary" %>
</div>

<div>
  <%= link_to "退会する",withdrawal_path, method: :patch, class: "btn btn-danger", "data-confirm" => "本当に退会しますか？" %>
</div>