<table class="table table-bordered border-light text-light">
  <tbody>
    <% reviews.each do |review| %>
    <tr>
        <td><%= image_tag review.get_beer_image(80,80) %></td>
        <td><%= review.name %></td>
        <td><%= review.brewery %></td>
    </tr>
    <% end %>
  </tbody>
</table>