@use '~bootstrap/scss/bootstrap';

body{
  background-color: #fbf4d7;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.serch{
  text-align: right;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

header{
  background-color: #ffffff
}

footer{
  background-color: #ceb178
}

.basic-place{
  text-align: center;
  margin-bottom: 15rem;
}

.taproom{
  width: 54.6rem;
  height: 41rem;
  margin-top: 2rem;
}

.taproom-img{
  width: 54.5rem;
  height: 42.5rem;
}

.welcome{
  padding-top: 1rem;
  width: 500px;
  height: 300px;
}

.latestpost{
  margin-top: 2rem;
  margin-bottom: 15rem;
  background-color:#4a423b;
}

.viewmore{
  text-align: right;
}

.basic-card{
  width: 20rem; 
  height: 25rem;
}

.basic-card-img{
  padding-top: 0.5rem;
}

.basic-form{
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.edit-card{
  width: 30rem; 
  height: auto;
  margin-bottom: 1rem;
}

.edit-card-body{
  padding-right: 1rem;
  background-color: #fbf4d7;
}

.signup-card{
  width: 35rem;
  height: 40rem;
  margin-bottom: 10rem;
  background-color: #fbf4d7;
}

.signup-card-body{
  padding-right: 4rem;
}

.signin-card{
  width: 30rem;
  height: 15rem;
  background-color: #fbf4d7;
}

.signin-card-body{
  padding-right: 1rem;
}

.login-card-body{
  padding-right: 2rem;
}

.comment{
  margin-top: 4rem;
}

.search-results{
  margin-bottom: 15rem;
}

.index-body{
  margin-top: 1rem;
  margin-bottom: 15rem;
}

.index-title{
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.index-card{
  width: 25rem;
  height: 30rem;
}

.flavor{
  text-align: right;
  margin-right: 2rem;
}

.newreview-card{
  width: 25rem;
  height: auto;
  background-color:#fbf4d7;
}

.editreview-card{
  width: 25rem;
  height: auto;
  background-color:#fbf4d7;
}

.show-body{
  margin-top: 3rem;
  margin-bottom: 15rem;
}

.showreview-card{
  width: 100%;
  height: auto;
}

.showreview-card-img{
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.showreview-card-body{
  padding-top: 2rem;
  padding-left: 1rem;
}

.footer-item{
  padding-top: 1rem;
}

.space{
  text-indent: 1em;
}



@media screen and (max-width: 500px) {
  header{
    text-align: right;
    background-color: #ffffff
  }
}


@media screen and (max-width: 500px) {
  .serch{
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .serch-brock{
    text-align: right;
    display:  block;
  }
}

@media screen and (max-width: 500px) {
  .basic-place{
    text-align: light;
    margin-bottom: 15rem;
  }
}

@media screen and (max-width: 500px) {
  .top-place{
    text-align: light;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .taproom{
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    height: 16rem;
  }
}

@media screen and (max-width: 500px) {
  .taproom-img{
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .welcome{
    width: 10rem;
    height: 7rem;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .basic-card{
    width: 7rem;
    height: 17rem;
  }
}

@media screen and (max-width: 500px) {
  .basic-card-img{
    padding-top: 0.5rem;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .card-body{
    font-size: 0;
  }
}

@media screen and (max-width: 500px) {
  .card-title{
    font-size: 0;
  }
}

@media screen and (max-width: 500px) {
  .index-card{
    width: 7.5rem; 
    height: 15rem;
  }
}

@media screen and (max-width: 500px) {
  .profile-img{
    max-width: 0;
    height: 0;
  }
}

@media screen and (max-width: 500px) {
  .flavor{
    text-align: right;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .showreview-card{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .showreview-card-img{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .showreview-card-body{
    padding-top: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .basic-form{
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .editreview-card{
    width: 100%;
    height: auto;
    margin-bottom: 15rem;
    background-color:#fbf4d7;
  }
}

@media screen and (max-width: 500px) {
  .signin-card{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .signin-card-body{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .login-card-body{
    width: 100%;
    height: auto;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .newreview-card{
    width: 100%;
    height: auto;
    margin-bottom: 15rem;
    background-color:#fbf4d7;
  }
}

@media screen and (max-width: 500px) {
  .edit-card{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    background-color:#fbf4d7;
  }
}

@media screen and (max-width: 500px) {
  .edit-card-body{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .signup-card{
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
    background-color: #fbf4d7;
  }
}

@media screen and (max-width: 500px) {
  .signup-card-body{
    padding-right: 1rem;
  }
}