@use '~bootstrap/scss/bootstrap';

body{
  background-color: #fbf4d7;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.serch{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

header{
  background-color: #ffffff
}

footer{
  background-color: #ceb178
}

.basic-place{
  padding-left: 3rem;
  margin-bottom: 8rem;
}

.taproom{
  width: 54.5rem;
  height: 42.5rem;
}

.welcome{
  padding-top: 1rem;
}

.latestpost{
  padding-top: 1rem;
  margin-bottom: 8rem;
  background-color:#4a423b;
}

.viewmore{
  text-align: right;
}

.basic-card{
  width: 20rem; 
  height: 25rem;
}

.basic-card-img{
  padding-top: 0.5rem;
}

.basic-form{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.edit-card{
  width: 50rem; 
  height: 20rem;
}

.edit-card-body{
  padding-right: 6rem;
  background-color: #fbf4d7;
}

.signup-card{
  width: 35rem;
  height: 40rem;
  margin-bottom: 10rem;
  background-color: #fbf4d7;
}

.signup-card-body{
  padding-right: 10rem;
}

.signin-card{
  width: 30rem;
  height: 15rem;
  background-color: #fbf4d7;
}

.signin-card-body{
  padding-right: 6rem;
}

.comment{
  margin-top: 4rem;
}

.search-results{
  margin-bottom: 10rem;
}

.index-body{
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.index-title{
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.index-card{
  width: 25rem;
  height: 30rem;
}

.flavor{
  margin-right: 2rem;
}

.newreview-card{
  width: 50rem;
  height: 50rem;
  background-color:#fbf4d7;
}

.editreview-card{
  width: 40rem;
  height: 50rem;
  background-color:#fbf4d7;
}

.show-body{
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.showreview-card{
  width: 60rem;
  height: 70rem;
}

.showreview-card-img{
  padding-top: 2rem;
  padding-left: 2rem;
}

.showreview-card-body{
  padding-top: 2rem;
  padding-left: 2rem;
}