<div>
<%= form_with(model:[review, comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力", class: "w-100" %>
  <div class="d-md-flex justify-content-md-end">
  <%= f.submit "送信する", class: "btn btn-lg btn-outline-success mt-20 pull-right" %>
  </div>
<% end %>
</div>