<div>
  <% if admin_signed_in? %>
    <%= link_to "staff only", admin_root_path, class: "btn btn-outline-secondary btn-sm" %>
  <% else %>
    <%= link_to "staff only", admin_session_path, class: "btn btn-outline-secondary btn-sm" %>
  <% end %>
  <p>© Hopcone</p>
</div>