<footer class="text-dark pt-4 pb-4 fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="mx-auto">
        <p>© Hopcone</p>
          <%= link_to "staff only", admin_root_path, class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
  </div>
</footer>